div.topBar {
  background-color: steelblue;
  min-height: 38px;
  width: 100%;
}

div.topBar button {
  display: none;
}

div.topBar button span {
  background-color: white;
}

div.barTitle {
  float: left;
  padding: 9px 25px;
  color: white;
}

ul.barItem {
  list-style: none;
}

ul.barItem li {
  float: left;
  padding: 9px 15px;
  color: white;
}

ul.barItem li:hover {
  color: aliceblue;
}

ul.barItem li.buttonItem {
  float: right;
}

ul.barItem li.currentItem {
  background-color: darkblue;
}

ul.barItem li a{
    color: inherit;
    text-decoration: none;
}

span.spanButton {
  margin: 4px;
  border: 1px solid steelblue;
  padding: 5px;
  width: 114px;
}

ul.barItem li span.spanButton {
  border: 1px solid white;
}

@media (min-width:320px) and (max-width:768px) {
  div.topBar button {
    display: block;
  }

  div.barTitle {
    float: none;
  }

  ul.barItem {
    padding-left: 15px;
    display: none;
  }

  ul.barItem li {
    float: none;
  }

  ul.barItem li.buttonItem {
    float: none;
    text-align: right;
  }
}

footer {
  color: whitesmoke;
  background-color: steelblue;
  padding: 25px;
}

h4 {
  margin-top: 20px;
}

p.stopMsgBox {
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1em;
  text-align: center;
  max-width: 35em;
  margin: 1em auto;
}

p.stopMsgBox span {
  font-weight: bold;
  font-size: 1.8em;
}

p.cardEffectBox {
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 0.5em;
  text-align: left;
  margin: 1em auto;
  width: 40em;
  display: inherit !important;
}

.errata table {
  border-width: 2px;
  border-collapse: collapse;
  border-style: solid;
  border-color: black;
  margin-bottom: 1em;
}

.errata th {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-collapse: collapse;
  text-align: center;
  font-weight: bold;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  width: 6em;
  font-size: 14px;
}

.errata td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 500px;
  border-spacing: 5px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  font-size: 12px;
}

.errata table span:not([class^="icon-"],[class*=" icon-"]) {
  color: blue;
}

p.example::before, span.example::before, div.example p:first-child::before{
  content: "예시: ";
  font-weight: bold;
}

p.note::before, span.note::before, div.note p:first-child::before{
  content: "알아두기: ";
  font-weight: bold;
}

.example:not(span) {
  border-left-style: double;
  border-left-width: 3px;
  padding-left: 0.5em;
  margin-left: 1em;
}

p.question::before {
  content: "질문: ";
  font-weight: bold;
  text-indent: 1em;
}

p.question {
  margin-bottom: 0px;
}

p.answer::before {
  content: "답변: ";
  font-weight: bold;
  text-indent: 1em;
}

span.trait {
  font-style: italic;
  font-weight: bold;
}

blockquote br{
  display: block;
  margin: 1%;
}

.errata4 {
  color: red;
}

.scenarioHidden {
  margin-top: 11px;
  display: none;
}

/*div.errata {
  display: none;
}

.tcu, .tde, .tic, .starter {
  color: red;
}

.V1_1 {
  color: red;
}
*/
