div.topBar {
  background-color: steelblue;
  height: 38px;
}

div.barTitle {
  float: left;
  padding: 9px 25px;
  color: white;
}

ul.barItem {
  list-style: none;
}

ul.barItem li {
  float: left;
  padding: 9px 15px;
  color: white;
}

ul.barItem li:hover {
  color: aqua;
}

ul.barItem li.currentItem {
  background-color: darkblue;
}

footer {
  color: whitesmoke;
  background-color: steelblue;
  padding: 25px;
}

h4 {
  margin-top: 20px;
}

p.stopMsgBox {
  border: 2px;
  border-style: solid;
  border-color: black;
  padding: 1em;
  text-align: center;
  width: 450px;
  margin: 1em auto;
}

p.stopMsgBox span {
  font-weight: bold;
  font-size: 1.8em;
}

table.errata {
  border-width: 2px;
  border-collapse: collapse;
  border-style: solid;
  border-color: black;
}

table.errata th {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-collapse: collapse;
  text-align: center;
  font-weight: bold;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  width: 50px;
}

table.errata td {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 500px;
  border-spacing: 5px;
  padding-left: 0.3em;
  padding-right: 0.3em;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
}

table.errata span {
  color: blue;
}

p.example {
  font-style: italic;
}

p.question {
  border: 1px;
  border-style: solid;
  border-color: black;
  padding: 0.1em;
  text-indent: 1em;
}

span.trait {
  font-style: italic;
  font-weight: bold;
}
