@font-face {
    font-family: 'Arkham Symbols';
    src: url('../fonts/arkham-symbols.otf') format('opentype'),
    url('../fonts/arkham-symbols.ttf') format('truetype'),
    url('../fonts/arkham-symbols.woff') format('woff'),
    url('../fonts/arkham-symbols.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
[class^="symbol-"],[class*=" symbol-"] {
    font-family: 'Arkham Symbols';
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.symbol-core:before {
    content: "a"
}

.symbol-rcore:before {
    content: "A"
}

.symbol-tdl:before {
    content: "b"
}

.symbol-rtdl:before {
    content: "B"
}

.symbol-tpc:before {
    content: "c"
}

.symbol-rtpc:before {
    content: "C"
}

.symbol-tfa:before {
    content: "d"
}

.symbol-rtfa:before {
    content: "D"
}

.symbol-tcu:before {
    content: "e"
}

.symbol-rtcu:before {
    content: "E"
}

.symbol-tde:before {
    content: "f"
}

.symbol-tic:before {
    content: "g"
}

.symbol-eoep:before {
    content: "h"
}

.symbol-eoec:before {
    content: "H"
}

.symbol-tskp:before {
    content: "i"
}

.symbol-tskc:before {
    content: "I"
}

.symbol-nc:before {
    content: "1"
}

.symbol-hw:before {
    content: "2"
}

.symbol-wh:before {
    content: "3"
}

.symbol-jf:before {
    content: "4"
}

.symbol-sc:before {
    content: "5"
}

.symbol-par:before {
    content: "6"
}

