.vscode
__pycache__
typings
/reference.html
/output.txt
RR.*
raw/backup.html
*.zip
/card_list.html
card_list/card_list.html
card_list/outputs.json
card_list/dist
testfont
api_key.json
arkhamdb-json-data
